<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amor Animal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="icon" type="image/png" href="~/img/icone.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg border-bottom box-shadow mb-3" style="background-color:#2ecc71">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="Logo" id="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Serviço">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Agendamento">Agendamento</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <ul class="footer-sobre">
            <li><img id="icone2" src="~/img/icone2.png" alt="Icone Amor Animal" title="Amor Animal">
                <p id="text-footer-sobre">
                    amor animal conta com um leque de produtos e
                    serviços dos mais variados para melhor atender
                    seus clientes!</p>
            </li>
        </ul>

        <ul class="footer-information">
            <li class="footer-information-text"><img src="~/img/icon-location.png" alt="Icone Localização"
                    title="Localização"><strong>AV. CAXANGÁ, 2030 -
                    CORDEIRO</strong><br>
                Recife - PE, CEP: 50.7011-024
            </li>

            <li class="footer-information-text"><img src="~/img/icon-phone.png" alt="Icone Fone" title="Fone"><strong>+55
                    81 98547-2457</strong><br>
                Conta e Marcação
            </li>

            <li class="footer-information-text"><img src="~/img/icon-clock.png" alt="Icone Horário"
                    title="Horário"><strong>SEG - SEX: 08H -
                    18H</strong><br>
                SÁB: 08H - 14H
            </li>
        </ul>

        <ul class="footer-social">
            <li><img src="~/img/logo-facebook.png" class="img-social-footer" alt="Icone Facebook" title="Facebook"></li>
            <li><img src="~/img/logo-instagram.png" class="img-social-footer" alt="Icone Instagram" title="Instagram">
            </li>
            <li><img src="~/img/logo-whatasapp.png" class="img-social-footer" alt="Icone Whatsapp" title="Whatsapp"></li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
