@model Agendamento;

@{
    ViewData["Title"] = "Agendamento";
}

<main id="agendamento-content">

        <div id="agendamento-form">
            <h2 class="title-content">PRÉ-AGENDAMENTO</h2>
            <form method="post">


                <label asp-for="nome">Nome:</label>

                <input asp-for="nome" class="estilo-input"  size="30" required placeholder="Seu nome">

                <label asp-for="fone">Telefone:</label>

                <input asp-for="fone" class="estilo-input"  size="30" required placeholder="Seu telefone">

                <label asp-for="data">Data:</label>

                <input asp-for="data" class="estilo-input" size="30" required placeholder="dd/mm/aa">

                <label asp-for="animal">Animal:</label>

                <input asp-for="animal" class="estilo-input"  size="30" required placeholder="Seu animal">

                <label asp-for="necessidade">Necessidade:</label>

                <textarea asp-for="necessidade" cols="35" rows="8" required
                    placeholder="Informe o tipo de atendimento que seu pet precisa"></textarea>

                <input type="submit" id="form-submit" value="Enviar">

            </form>

        </div>
        <div id="agendamento-img">

            <img src="~/img/fundo2.png" alt="Cachorro">

        </div>

    </main>