@{
    ViewData["Title"] = "Home";
}

<h2 class="destaque-titulo">DESTAQUES</h2>
        <div id="destaques">
            <div class="destaque-cards destaque-cards-text" id="card1">
                <h2>HOTELZINHO</h2>
                <p>Um espaço onde você pode
                    deixar seu pet com segurança
                    e tranquilidade! Equipe 24h,
                    conforto e tranquilidade</p>
            </div>
            <div class="destaque-cards destaque-cards-text" id="card2">
                <h2>BANHO E TOSA</h2>
                <p>O banho e tosa do seu pet
                    com a melhor equipe! Conheça
                    nosso banho relaxante. Conheça
                    nossos pacotes!</p>
            </div>
            <div class="destaque-cards destaque-cards-text" id="card3">
                <h2>LABORATÓRIO</h2>
                <p>Os resultados dos exames do
                    seu pet são feitos com a
                    melhor equipe! Laboratório
                    próprio e estrutura completa</p>
            </div>
            <div class="destaque-cards destaque-cards-text" id="card4">
                <h2>DELIVERY</h2>
                <p>Não tem como vir até aqui
                    buscar o seu produto? Sem
                    problema, a Amor Animal
                    entrega!</p>
            </div>
        </div>
