@{
    ViewData["Title"] = "Serviço";
}
<main id="servico-content">
        <div id="servico-descricao">
            <h2 class="title-content">NOSSOS SERVIÇOS</h2>
            <h3>OS MELHORES SERVIÇOS PARA O CONFORTO DO SEU PET</h3>
            <p>Contamos com os variados e completos tipos de
                serviços que um pet shop pode oferecer. Hotelzinho para
                maior comodidade dos tutores, podendo deixar seus pets
                em um lugar seguro e confortável.
            </p>
            <p>
                Toda estrutura para procedimentos de saúde para seu pet.
                Laboratório próprio, salas de exames e um centro cirúrgico
                completo. Uma grande variedade de produtos em nossa farmácia.
            </p>

            <p><strong>Venha nos conhecer!</strong></p>

        </div>

        <div id="img-servico">
            <img src="~/img/fundo1.png" alt="Gato e Cachorro">
        </div>
    </main>