/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#logo{
  width: 130px;
  height: 30px;
}

.bg{
  background-color: #2ecc71;
}
#destaques{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}

#confirmacao-content{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#confirmacao-dados{
  width: 60%;
  font-family: verdana;
}

#confirmacao-dados h1{
color:#8e44ad;
font-size: 22px;
}

#confirmacao-dados h3{
  font-size: 18px;
  color: #27ae60;
}

#confirmacao-dados ul li{
  list-style: none;
  line-height: 50px;
}

.destaque-cards{

  width: 240px;
  height: 280px;
  padding-top: 10%;
}

.destaque-cards-text{
font-family: 'Poppins', sans-serif;
color:white;
position:relative;
text-decoration: none;
text-align: center;
}

.destaque-titulo{
  font-family: 'M PLUS 1p', sans-serif;
  color:#27AE60;
  font-size:30px;
  text-decoration: none;
  text-align: center;
}

#card1{
  background-image: url("../img/hotelzinho.png");
  background-repeat: no-repeat;
  background: cover;
  background-position: center;
}

#card2{
  background-image: url("../img/banho.png");
  background-repeat: no-repeat;
  background: cover;
  background-position: center;
}

#card3{
  background-image: url("../img/laboratorio.png");
  background-repeat: no-repeat;
  background: cover;
  background-position: center;
}

#card4{
  background-image: url("../img/entrega.png");
  background-repeat: no-repeat;
  background: cover;
  background-position: center;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#servico-content{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 20px;
}

#servico-descricao{
  width: 30%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  
}

.title-content{
font-family: 'M PLUS 1p', sans-serif;
color:#27AE60;
font-size:30px;
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center;
}

#servico-descricao h3{
  font-family: 'Poppins', sans-serif;
  color:#8e44ad; 
  font-size: 20px;
  
}

#img-servico{
  height: auto;
}

#img-servico img{
  width: 400px;
  height: 350px;
  float:right;
}

textarea{
  resize:none; 
  outline:none; 
  font-family: 'Poppins', sans-serif; 
  border:solid 2px #27ae60; 
  border-radius: 20px;
  padding-top:5px;
  padding-left: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  max-width: 70%;
}

textarea:focus{
  border:solid 2px #2ecc71;
}

#agendamento-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#agendamento-form form {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.estilo-input{
  font-family: 'Poppins', sans-serif;
  outline: none;
  height: 25px;
  padding-left: 5px;
  border: solid 2px #27ae60;
  border-radius: 20px;
  max-width: 70%;
  display: flex;
  align-items:center;
  margin-bottom: 10px;
}

.estilo-input:focus{
border:solid 2px #2ecc71; 
}

#form-submit{
  font-family: 'Poppins', sans-serif;
  color:white;
  background-color: #8e44ad;
  border:none;
  outline: none;
  padding: 5px 20px;
  width: 40%;
  margin-bottom: 30px;
}

#form-submit:hover{
  background-color:#5d2e72; 
}
#agendamento-img img{
  width: 280px;
  height: 350px;
}

@media screen and (max-width:500px) {
  .footer-sobre{
     width: 75%; 
  }
  #servico-descricao{
      width: 75%; 
   }
  .nav-links-text{
      display:none;
  }
  .burger button{
      display:block;
  }
  
}

footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:#27AE60;
  position: absolute;
  align-content: flex-end;
  flex-wrap: wrap;
  bottom:-100px;
}

#text-footer-sobre{
  position: relative;
  bottom:-20px;
}

#icone2{
  width:100px;
  height:100px;
  float:left;
  margin-right: 15px;
}

footer ul li{
  list-style:none;
  font-family: 'Poppins', sans-serif; 
  font-size: 15px;
  color:white;
}

.footer-sobre{  
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif; 
  font-size:12px;
  color:white;  
  text-transform: justify; 
  list-style: none;
  width: 35%;
  height: auto;
}



.footer-information{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 

}

.footer-information-text{
  font-size: 12px;
  margin-top:8px;
  margin-bottom: 8px;
}

.footer-information img{
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 15px;
}

.img-social-footer{
  width: 50px;
  height: 50px;
}

.footer-social{
  display:flex;
  justify-content: space-evenly;

}

.footer-social img{

  margin-right: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

body{ 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
